
{% extends "::base.html.twig" %}

{% block change_locale %}
{% endblock %}
{% block change_locale_small %}
{% endblock %}


{% block body %}
<h2>Error!</h2>
<p>Something went wrong.</p>

<p>If you just purchased some transcriptions
and did not receive them by email,
please send me your transaction details at <a href="mailto:paul@blueblackjazz.com">paul@blueblackjazz.com</a>, I will send the transcriptions manually as soon as possible.
</p>

{% endblock %}


