
{% extends "::base.html.twig" %}

{% block change_locale %}
{% endblock %}
{% block change_locale_small %}
{% endblock %}

{% block body %}
<h2> Forbidden!</h2>
<p>Looks like you do not have the credentials to access this page, sorry!</p>

{% endblock %}

