{% extends "::base.html.twig" %}


{% block change_locale %}
{% endblock %}
{% block change_locale_small %}
{% endblock %}

{% block body %}
<h2> Page not found!</h2>
<p>The page you are looking for could not be found, sorry!</p>

{% endblock %}

