
// Core variables and mixins
@import "../../../../../../vendor/twbs/bootstrap/less/variables.less";

@brand-primary: #888888;
@font-size-base: 15px;
@navbar-margin-bottom: 0;

#imageheader {
        border-bottom:1px solid @brand-primary;
}
#imagefooter {
        border-top: 1px solid @brand-primary;
}

#footer {
        color: @navbar-inverse-color;
        hr {
                border-color: #333333;
        }
        background-color: @navbar-inverse-bg;
        border-top: 1px solid @navbar-inverse-border;
        
        a, a:link, a:visited {
                color: @navbar-inverse-link-color;
        }
        a:hover {
                color: @navbar-inverse-link-hover-color;
        }
}

@import "../../../../../../vendor/twbs/bootstrap/less/mixins.less";




// Reset
@import "../../../../../../vendor/twbs/bootstrap/less/normalize.less";
@import "../../../../../../vendor/twbs/bootstrap/less/print.less";

// Core CSS
@import "../../../../../../vendor/twbs/bootstrap/less/scaffolding.less";
@import "../../../../../../vendor/twbs/bootstrap/less/type.less";
@import "../../../../../../vendor/twbs/bootstrap/less/code.less";
@import "../../../../../../vendor/twbs/bootstrap/less/grid.less";
@import "../../../../../../vendor/twbs/bootstrap/less/tables.less";
@import "../../../../../../vendor/twbs/bootstrap/less/forms.less";
@import "../../../../../../vendor/twbs/bootstrap/less/buttons.less";

// Components
@import "../../../../../../vendor/twbs/bootstrap/less/component-animations.less";
@import "../../../../../../vendor/twbs/bootstrap/less/glyphicons.less";
@import "../../../../../../vendor/twbs/bootstrap/less/dropdowns.less";
@import "../../../../../../vendor/twbs/bootstrap/less/button-groups.less";
@import "../../../../../../vendor/twbs/bootstrap/less/input-groups.less";
@import "../../../../../../vendor/twbs/bootstrap/less/navs.less";
@import "../../../../../../vendor/twbs/bootstrap/less/navbar.less";
@import "../../../../../../vendor/twbs/bootstrap/less/breadcrumbs.less";
@import "../../../../../../vendor/twbs/bootstrap/less/pagination.less";
@import "../../../../../../vendor/twbs/bootstrap/less/pager.less";
@import "../../../../../../vendor/twbs/bootstrap/less/labels.less";
@import "../../../../../../vendor/twbs/bootstrap/less/badges.less";
@import "../../../../../../vendor/twbs/bootstrap/less/jumbotron.less";
@import "../../../../../../vendor/twbs/bootstrap/less/thumbnails.less";
@import "../../../../../../vendor/twbs/bootstrap/less/alerts.less";
@import "../../../../../../vendor/twbs/bootstrap/less/progress-bars.less";
@import "../../../../../../vendor/twbs/bootstrap/less/media.less";
@import "../../../../../../vendor/twbs/bootstrap/less/list-group.less";
@import "../../../../../../vendor/twbs/bootstrap/less/panels.less";
@import "../../../../../../vendor/twbs/bootstrap/less/wells.less";
@import "../../../../../../vendor/twbs/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../../../../../../vendor/twbs/bootstrap/less/modals.less";
@import "../../../../../../vendor/twbs/bootstrap/less/tooltip.less";
@import "../../../../../../vendor/twbs/bootstrap/less/popovers.less";
@import "../../../../../../vendor/twbs/bootstrap/less/carousel.less";

// Utility classes
@import "../../../../../../vendor/twbs/bootstrap/less/utilities.less";
@import "../../../../../../vendor/twbs/bootstrap/less/responsive-utilities.less";
