#imageheader, #imagefooter{
        background: url('http://www.blueblackjazz.com/media/images/index_back.JPG');
}

#imageheader #guyztop{
        height:180px;
        background: url('http://www.blueblackjazz.com/media/images/index.jpg') center -110px no-repeat;
}
#imagefooter #guyzbottom{
        height:120px;
        background: url('http://www.blueblackjazz.com/media/images/index.jpg') center -324px no-repeat;
}

#search {
        margin-top:15px;
}
#search .searching {
        min-height:30em;
}

#footer {
        padding-top:15px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#body {
    text-align:justify;
}

.markdown img {
    max-width:100%;
    max-height:320px;
    display:block;
    margin: 0 auto;
    border-radius:10px;
    padding: 12px;
}


#body table div.mejs-volume-button {display:none;} 
#body table div.mejs-horizontal-volume-slider {display:none;} 
