<!DOCTYPE html>
<html id="ng-app" ng-app="bbb" class="ng-app:bbb" {{ sonata_seo_html_attributes() }}>
  <head {{ sonata_seo_head_attributes() }}>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    <link rel="author" href="https://plus.google.com/103108920729069326531" />
    <link rel="me" href="https://plus.google.com/103108920729069326531" />

    <link rel="shortcut icon" 
        href="/favicon.ico" type="image/x-icon" />

    <link rel="apple-touch-icon" 
        href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" 
        href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" 
        href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" 
        href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120"
        href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144"
        href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152"
        href="/apple-touch-icon-152x152.png" />

    {% stylesheets 
        '@BlueBlackJazzMainBundle/Resources/public/less/custom_bootstrap.less'
        '@BlueBlackJazzMainBundle/Resources/public/less/style.less'
                         filter='less'
         %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.11.3/css/mediaelementplayer.css" />

    {% for stylesheet in stylesheets %}
        <style type="text/css">
            {{ stylesheet.css | raw }}
        </style>
    {% endfor %}

    {% block google_analytics %}
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-53693838-1', 'auto');
            ga('send', 'pageview');
    </script>
    {% endblock %}

  </head>

  <body ng-controller="SearchCtrl" class="{{ app.request.attributes.get('_route') }}">


    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('home') }}">BlueBlackJazz</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.transcriptions'|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('all') }}">{{ 'menu.all'|trans }}</a></li>
                    <li><a href="{{ path('all_books') }}">{{ 'menu.books'|trans }}</a></li>
                    <li><a href="{{ path('page', {'slug': 'services'}) }}">{{ 'menu.services'|trans }}</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.styles'|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for s in menu_styles_with_numbers %}
                    {% set st = s[0] %}
                    {% set n = s['n'] %}
                    <li><a href="{{ path('style', {'id': st.id, 'slug':st.slug}) }}">{{ st }}  <small><em>({{ n }})</em></small></a></li>
                {% endfor %}
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.artists'|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for a in menu_artists_with_numbers %}
                    {% set ar = a[0] %}
                    {% set n = a['n'] %}
                    <li><a href="{{ path('artist', {'id': ar.id, 'slug':ar.slug}) }}">{{ ar }} <small><em>({{ n }})</em></small></a></li>
                {% endfor %}
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.books'|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for book in menu_books %}
                        <li><a href="{{ path('book', {'id': book.id, 'slug':book.slug}) }}">{{ book }}</a></li>
                {% endfor %}
                </ul>
              </li>

            <li><a href="{{ path('page', {'slug': 'testimonials'}) }}">{{ 'menu.testimonials'|trans }}</a></li>
            <li><a href="{{ path('cart_view') }}">{{ 'cart.goto'|trans }}</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">? <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('page', {'slug': 'how-to-order'}) }}">{{ 'menu.how_to_order'|trans }}</a></li>
                    <li><a href="{{ path('page', {'slug': 'contacts'}) }}">{{ 'menu.contacts'|trans }}</a></li>
                </ul>
              </li>
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <li><a href="/admin/">Admin</a></li>
            {% endif %}
            
            {% block change_locale_menu %}
            {% endblock %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <div class="hidden-xs hidden-sm" id="imageheader">
        <div id="guyztop"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-offset-2 col-lg-7">
                <div id="search">
                    <div ng-class="{searching: searching}">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                        <p class="bg-danger text-center">
                            <strong>Error:</strong>
                            {{ flashMessage }}
                        </p>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                        <p class="bg-success text-center">
                            <strong>Success:</strong>
                            {{ flashMessage }}
                        </p>
                        {% endfor %}

                    <div ng-hide="searching && !pageall">
                        {% block before_search %}{% endblock %}
                    </div>
                    {% include '::search.html.twig' %}
                    </div>
                </div>
                <div ng-hide="searching" id="body">
                {% block body %}}
                {% endblock %}
                </div>
            </div>
            <div class="col-sm-4 col-lg-3">
                {% block side_cart %}
                <br><br><br>
                {% include 'BlueBlackJazzMainBundle:Cart:cart.html.twig' %}
                {% endblock %}
            </div>

        </div>
        <hr>
    </div><!-- /.container -->

    <div class="hidden-xs hidden-sm" id="imagefooter">
        <div id="guyzbottom"></div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <form class="navbar-form">
                                <a 
                                    class="btn btn-link"
                                    href="#">
                                    Contacts
                                </a>
                            </form>
                        </div>
                        <div class="col-md-3 text-center">
                            <a style="color:white" href="{{ path('cart_view') }}" class="btn btn-lg btn-success">Go to Cart</a>
                        </div>
                        <div class="col-md-6 text-center">
                            {% block change_locale_small %}
                            <form class="navbar-form">
                                {% block change_locale_bottom %}
                                {% endblock %}
                            </form>
                            {% endblock%}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 text-center">
                                <h4>{{ 'menu.artists'|trans }}</h4>
                                <ul class="list-unstyled">
                                {% for a in menu_artists_with_numbers %}
                                    {% set ar = a[0] %}
                                    {% set n = a['n'] %}
                                    <li><a href="{{ path('artist', {'id': ar.id, 'slug':ar.slug}) }}">{{ ar }} <small><em>({{ n }})</em></small></a></li>
                                {% endfor %}
                                </ul>
                        </div>
                        <div class="col-md-3 text-center">
                                <h4>{{ 'menu.styles'|trans }}</h4>
                                <ul class="list-unstyled">
                                {% for s in menu_styles_with_numbers %}
                                    {% set st = s[0] %}
                                    {% set n = s['n'] %}
                                    <li><a href="{{ path('style', {'id': st.id, 'slug':st.slug}) }}">{{ st }}  <small><em>({{ n }})</em></small></a></li>
                                {% endfor %}
                                </ul>
                        </div>
                        <div class="col-md-5 text-center">
                                <h4>{{ 'menu.books'|trans }}</h4>
                                <ul class="list-unstyled">
                                {% for book in menu_books %}
                                        <li><a href="{{ path('book', {'id': book.id, 'slug':book.slug}) }}">{{ book }}</a></li>
                                {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Make sure to add jQuery - download the most recent version at http://jquery.com/ -->
    {% block js %}

    <script type="text/javascript">
        var BlueBB = {
            locale: "{{ app.request.locale }}",
            route: "{{ app.request.get('_route') }}"
        };
    </script>

    {% javascripts
        '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'

        '%kernel.root_dir%/../vendor/twbs/bootstrap/js/dropdown.js'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/js/transition.js'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/js/modal.js'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/js/collapse.js'

        '@BlueBlackJazzMainBundle/Resources/public/js/vendor/angular.js'
        '@BlueBlackJazzMainBundle/Resources/public/js/search.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.11.3/js/mediaelement-and-player.min.js"></script>

    <script type="text/javascript">
         $('audio').mediaelementplayer();
    </script>
    {% endblock %}


  </body>
</html>


