{% extends "::base.html.twig" %}


                {# LOCALE SWITCHER #}
                {% if app.request.locale == 'en' %}
                {% set new_locale = 'fr' %}
                {% set flag_url = 'http://www.blueblackjazz.com/media/images/FRA_h.gif' %}
                {% else %}
                {% set new_locale = 'en' %}
                {% set flag_url = 'http://www.blueblackjazz.com/media/images/GBR_h.gif' %}
                {% endif %}

                {% set route_params = app.request.attributes.get('_route_params') %}
                {# merge the query string params if you want to keep them when switching the locale #}
                {% set route_params = route_params|merge(app.request.query.all) %}
                {# merge the additional params you want to change #}
                {% set route_params = route_params|merge({'_locale': new_locale }) %}
                {% set localized_route = path(app.request.attributes.get('_route'), route_params) %} 

                {% set change_locale_link %}
                    <a href="{{ localized_route }}">
                        <img src="{{ flag_url }}" />
                        </a>
                {% endset %}



{% block change_locale_menu %}
            <li>
                {{ change_locale_link }}
            </li>
{% endblock %}




{% block change_locale_bottom %}
                {{ change_locale_link }}

{% endblock %}
