            <div class="input-group">
              <input type="text" 
                        id="searchFieldId"
                        ng-focus="download()"
                        ng-model="enteredText" 
                        ng-change="searching=true"
                        placeholder="Search a transcription or musician" 
                        class="form-control input-lg">
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button">
                    Search!</button>
              </span>
            </div><!-- /input-group -->
        <div class="ng-cloak" ngCloak ng-show="searching">
            <p ng-hide="pageall" class="text-center"><a href="#" ng-click="enteredSearch=''; searching=false">{{ 'search.leave'|trans }}</a></p>
          <p ng-hide="downloaded">Loading...</p>
          <div id="searchResults" ng-show="downloaded" ng-init="sortBy='name'">
          <table class="table table-striped table-condensed">
            <tr class="small">
                <th></th>
                <th>
                    <a href="#searchFieldId" ng-click="sortBy='name';">{{ 'search.sortby.name'|trans }}</a>
                </th>
                <th><a href="#searchFieldId" ng-click="sortBy='artist';">{{ 'search.sortby.artist'|trans }}</a></th>
                <th>
                    <a href="#searchFieldId" ng-click="sortBy='date';">{{ 'search.sortby.date'|trans|raw }}</a>
                </th>
                <th><a href="#searchFieldId" ng-click="sortBy='note';">{{ 'search.sortby.note'|trans|raw }}</a></th>
                <th></th>
            </tr>
          <tr ng-hide="pageall" ng-repeat="book in filteredBooks = (books |searchByText:searchText)">
              <td><small>book</small></td>
              <td><a 
                ng-href="<% book.url %>"
                ng-bind-html="book.title | highlight:searchText | unsafe"
                >
                </a></td>
              <td ng-bind-html="book.artist | highlight:searchText | unsafe"></td>
            </td>
            <td></td>
            <td></td>
              <td><a  class="btn btn-xs btn-success"
                 ng-href="<% book.cart_url %>">
                 + 
                <strong><% book.priceEuro %>&euro;</strong>
                 /<strong>$<% book.priceDollar %></strong>
            </a>
            </td>
          </tr>
          <tr ng-repeat="transcription in filteredTranscriptions = (transcriptions|searchByText:searchText|limitTo:limit|orderBy:sortBy)">
              <td></td>
              <td><a
                 ng-href="<% transcription.url %>"
                 ng-bind-html="transcription.name | highlight:searchText | unsafe">
            </a>
            </td>
            <td ng-bind-html="transcription.artist | highlight:searchText | unsafe"></td>
            <td>
                <% transcription.date %>
            </td>
            <td> <% transcription.note %> 
            </td>
              <td><a class="btn btn-xs btn-success"
                 ng-href="<% transcription.cart_url %>">
                 PDF: <strong><% transcription.priceEuro %>&euro;</strong>
                 - <strong>$<% transcription.priceDollar %></strong>
            </a>
            </td>

          </tr>
        </table>
          <p ng-hide="filteredBooks.length">No book found, try to search for: fats, boogie, johnson</p>
          <p ng-hide="filteredTranscriptions.length">No transcription found</p>
          <p ng-show="filteredTranscriptions.length >= limit - 2">Displaying only the first <% limit %> results. Try to be more specific!</p>

        </div>
        </div>
