<% splitted = ENV['HEROKU_POSTGRESQL_TEAL_URL'].split(/:\/\/|:|@|\//) %>
<% pg_host = splitted[3]  %>
<% pg_port = splitted[-2]  %>
<% pg_name = splitted[-1]  %>
<% pg_user = splitted[1]  %>
<% pg_password = splitted[2]  %>
parameters:
    database_driver: pdo_pgsql
    database_host: <%= pg_host %>
    database_port: <%= pg_port %>
    database_name: <%= pg_name %>
    database_user: <%= pg_user %>
    database_password: <%= pg_password %>
    mailer_transport: gmail
    mailer_host: ~
    mailer_user: <%= ENV['GMAIL_USER'] %>
    mailer_password: <%= ENV['GMAIL_PASSWORD'] %>
    locale: en
    secret: bce1aaec4a82f8cc9b2d102c60a171fe3
    paypal_api_username: <%= ENV['PAYPAL_USERNAME'] %>
    paypal_api_password: <%= ENV['PAYPAL_PASSWORD'] %>
    paypal_api_signature: <%= ENV['PAYPAL_SIGNATURE'] %>
    paypal_api_debug: <%= ENV['PAYPAL_DEBUG'] %>

