{% extends '::layout.html.twig' %}

{% block body %}
    <h1 class="title">Login</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input  class="form-control" type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="btn btn-success">
                    <strong>Login</strong>
        </button>
    </form>
{% endblock %}

{# set code = code(_self) #}
