{% extends "::layout.html.twig" %}


{% block body %}
<h1 class="artistTitle">{{ artist.name }}</h1>
<h4>{{ artist.translate().subtitle }}</h4>

<div class="markdown" class="artistContent">
{{ artist.translate().markdown |mp3 |markdown }}
</div>

<hr>
<h3><br>{{ 'artist.transcriptions'|trans({'artist': artist.name }) }} </h3>

{% include 'BlueBlackJazzMainBundle:Include:ListTranscriptions.html.twig' with {'thing': artist} only %}


{% endblock %}
