{% extends "::layout.html.twig" %}


{% block body %}
<h2 class="bookTitle"> {{ book.artist }}
    <small><br>
        {{ book.title }}
    </small>
</h2>
<p class="bookDescription">{{ book.translate().description }}</p>

{% if book.artist %}
<p class="relatedArtist"><a href="{{ path('artist', {'id': book.artist.id, 'slug': book.artist.slug}) }}">Read more about {{ book.artist }}</a></p>
{% endif %}

{% set imgCover = 'http://www.blueblackjazz.com/media/images/' ~ book.imgCover %}
{% set imgTable = 'http://www.blueblackjazz.com/media/images/' ~ book.imgTable %}
<div class="row">
    <div class="col-md-5">
        <a href="{{ imgCover }}" class="thumbnail">
            <img src="{{ imgCover }}">
        </a>
    </div>
    <div class="col-md-7">
        <div class="well" id="buyBook">
        <p><a class="btn btn-lg btn-success" href="{{ path('cart_add_book', {'id': book.id, 'slug': book.slug}) }}">
            <strong>{{ book.priceEuro |currency_convert_format(cart.order.currency)  }}
        </strong> {{ 'cart.add'|trans }} </a>
            <img src="http://www.blueblackjazz.com/media/images/pdf.png" height=30>
        
        </p>
        <p class="small">
            {{ 'cart.book'|trans({'BOOK': book}) }}
        </p>
        <p>
            <img src="http://www.blueblackjazz.com/media/images/paypal1.jpg" height=25>
            <img src="http://www.blueblackjazz.com/media/images/paypal2.jpg" height=25>
        </p>
        </div>
    </div>
    <div class="col-md-2">
        <a href="{{ imgTable }}" class="thumbnail">
            <img src="{{ imgTable }}">
        </a>
    </div>
</div>


<div class="relatedTranscriptions">
<table class="table table-striped">
{% for transcription in book.transcriptions %}
<tr>
    <td>{{ transcription.track }}</td>
    <td><a href="{{ path('transcription', {'id': transcription.id, 'slug': transcription.slug }) }}">{{ transcription.name }}</a>
    {% if not book.artist %} <br>{{ transcription.artist }}{% endif %}
    </td>
    <td>{{ transcription.note }}</td>
    <td><audio preload="none" width="100" src="http://www.blueblackjazz.com/media/mp3/{{ transcription.mp3 }}"></td>
    <td>
        <a class="btn btn-sm btn-success" href="{{ path('cart_add_transcription', {'id': transcription.id, 'slug': transcription.slug}) }}"><strong>{{ transcription.priceEuro }}&euro;</strong> {{ 'cart.add'|trans }}</a>
    </td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}

