{% extends "::layout.html.twig" %}


{% block before_search %}
<p><br></p>
<h1>{{ page.translate().title }}</h1>
<p>{{ 'intro.subtitle'|trans }}</p>
{% endblock %}

{% block body %}

<br><br>

<div class="markdown">
{{ page.translate().markdown |mp3 | markdown }}
</div>



<br><br>
<br><br>



{% endblock %}

