{% extends "::layout.html.twig" %}


{% block body %}
<h2 class="styleTitle">{{ style.translate().name }}</h2>

<div class="markdown" class="styleContent">
{{ style.translate().markdown |mp3 |markdown }}
</div>

<ul class="artistList">
    {% for artist in style.artists %}
    <li>
        <a href="{{ path('artist', {'id': artist.id, 'slug':artist.slug}) }}">
            {{ artist }}
        </a>
    </li>
    {% endfor %}
</ul>

{# 
{% include 'BlueBlackJazzMainBundle:Include:ListTranscriptions.html.twig' with {'thing': style} only %}
#}

{% endblock %}
