{% extends "::layout.html.twig" %}


{% block body %}
<h2 class="transcriptionTitle"> {{ transcription.artist.name }} - {{ transcription.name }}
    <small><br>
         {{ transcription.note }}
    </small></h2>
{% if transcription.translate().date %}
    <h5> {{ 'original.recording'|trans }} {{ transcription.translate().date }}</h5>
{% endif %}

{% set imgTitle = 'http://www.blueblackjazz.com/media/images/' ~ transcription.imgTitle %}

<div class="row">
    <div class="col-md-7">
        <a href="{{ imgTitle }}" class="thumbnail">
            <img src="{{ imgTitle }}">
        </a>
    </div>
    <div class="col-md-5">
        <div class="well" id="buyTranscription">
            <p class="buyTranscription">
            <a class="btn btn-success" href="{{ path('cart_add_transcription', {'id': transcription.id, 'slug': transcription.slug}) }}">
                <strong>
                    {{ transcription.priceEuro |currency_convert_format(cart.order.currency)  }}
                </strong>
                {{ 'cart.add'|trans }}
            
            </a>
            <img src="http://www.blueblackjazz.com/media/images/pdf.png" height=30>
            </p>
            <p class="small">{{ 'cart.transcription'|trans({'ARTIST': transcription.artist.name, 'TRANSCRIPTION': transcription.name}) }}
            </p>
            <p>
            <img src="http://www.blueblackjazz.com/media/images/paypal1.jpg" height=25>
            <img src="http://www.blueblackjazz.com/media/images/paypal2.jpg" height=25>
            </p>
        </div>
    </div>
</div>



{% if transcription.mp3 %}
<div class="mp3playerTranscription" style="width:410px; margin: 0 auto;">
    <audio src="http://www.blueblackjazz.com/media/mp3/{{ transcription.mp3 }}"/>
</div>
{% endif %}
<hr >

{% if transcription.artist%}
<p class="relatedArtist">Read more about <a href="{{path('artist', {'id': transcription.artist.id, 'slug': transcription.artist.slug})}}">{{ transcription.artist.name }}</a>.</p>
<hr >
{% endif %}


{% if transcription.book %}
<p class="relatedBook">
This transcription if part of the book
<a href="{{ path('book', {'id': transcription.book.id, 'slug': transcription.book.slug}) }}">{{ transcription.book }}</a>
(track {{ transcription.track }}):
</p>

<div class="row" class="relatedBookImage">
    <div class="col-md-4 col-md-offset-3">
        <a href="{{ path('book', {'id': transcription.book.id, 'slug': transcription.book.slug}) }}" class="thumbnail">
            <img src="http://www.blueblackjazz.com/media/images/{{ transcription.book.imgCover }}">
        </a>
    </div>
</div>
{% endif %}


{% endblock %}

