{% extends "::base.html.twig" %}


{% block body %}
<h3>Checking Artists and Styles MP3(( filename.mp3 ))</h3>

{% for a in checkedThings%}
<p>Artist or Style <strong>id={{ a.thing.id }}</strong>
{{ a.thing }} : </p>
<table class="table table-condensed table-striped">
{% for mp3 in a.mp3s %}
{% if not mp3.transcription or not mp3.mp3exists %}
<tr>
    <td>{{ mp3.filename }}</td>
    <td>{{ mp3.locale }}</td>
    <td
        {% if not mp3.transcription %}
        class="danger"
        {% endif %}
        
        >
        {% if not mp3.transcription %}
        NO_TRANSCRIPTION_FOUND
        {% endif %}
        {{ mp3.transcription }}</td>
    <td
        {% if not mp3.mp3exists %}
        class="danger"
        {% endif %}
        >
        {% if not mp3.mp3exists %}
        FILE_DOES_NOT_EXIST
        {% else %}
        ok
        {% endif %}
    </td>
</tr>
{% endif %}
{% endfor %}
</table>


{% endfor %}

<h3>Checking transcription mp3 and pdf filenames</h3>

{% for t in checkedTranscriptions %}
{% if not t.mp3exists or not t.pdfexists %}
<p>Transcription <strong>id={{ t.transcription.id }}</strong>
{{ t.transcription.name }} : </p>

<table class="table table-condensed table-striped">
<tr
    {% if not t.mp3exists %}
        class="danger"
    {% endif %}
    >
    <td>{{ t.transcription.mp3 }}</td>
    <td>{% if not t.mp3exists %} FILE_DOES_NOT_EXIST {% else %} ok {% endif %}</td>
</tr>
<tr
    {% if not t.pdfexists %}
        class="danger"
    {% endif %}
    >
    <td>{{ t.transcription.pdf }}</td>
    <td>{% if not t.pdfexists %} DOES_NOT_EXIST {% else %} ok {% endif %}</td>
</tr>
</table>
{% endif %}
{% endfor %}
{% endblock %}
