<table class="table table-condensed">
    {% if cart.order.books or cart.order.transcriptions %}
    <h4>{{ 'cart.my'|trans }}</h4>
        {% for book in cart.order.books %}
        <tr>
            <td><a href="{{ path('cart_remove_book', {'id': book.id, 'slug': book.slug}) }}">&times;</a></td>
            <td><small>{{ book }}</small></td>
            <td><small>{{ book.priceEuro |currency_convert_format(cart.order.currency ) }}</small></td>
        </tr>
        {% endfor %}
        {% for t in cart.order.transcriptions %}
        <tr>
            <td><a href="{{ path('cart_remove_transcription', {'id': t.id, 'slug': t.slug}) }}">&times;</a></td>
            <td><small>{{ t }} - {{ t.artist }}</small></td>
            <td><small>{{ t.priceEuro |currency_convert_format(cart.order.currency)  }}</small></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><small><strong>{{ 'cart.shipping'|trans }}:</strong>
                    {{ cart.order.shipping }},
                    {{ cart.getShippingCostPerBookEuro(cart.order.shipping) | currency_convert_format(cart.favoriteCurrency) }} {{ 'cart.perbook'|trans }}.
                    <a href="#" data-toggle="modal" data-target="#shippingModal">{{ 'delivery.change'|trans }}</a> 
            </small></td>
            <td><small>{{ cart.order.shippingCost|currency_convert_format(cart.order.currency,2, true, cart.order.currency)  }}</small></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <small><strong>Total</strong></small>
                <br>
                <small>
                    {% if cart.order.currency == 'EUR' %}
                    <a href="{{ path('cart_set_currency', {'currency': 'USD'}) }}">
                        {{ 'cart.change.prices'|trans }} $USD
                    </a>
                    {% endif %}
                    {% if cart.order.currency == 'USD' %}
                    <a href="{{ path('cart_set_currency', {'currency': 'EUR'}) }}">
                        {{ 'cart.change.prices'|trans }} euros
                    </a>
                    {% endif %}
                </small>
            </td>
            <td><small>{{ cart.order.amount|currency_convert_format(cart.order.currency,2, true, cart.order.currency)  }}</small></td>
        </tr>
        <tr>
            <td colspan="3">
                {% if cart.order.amount > 0 %} 
                <form class="form" role="form" method="GET"
                    action="{{ path('details') }}"
                    >
                    <div class="input-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" 
                        {% if cart.order.email %}
                            value="{{ cart.order.email }}"
                        {% endif %}
                        class="form-control" id="exampleInputEmail2" placeholder="Enter email" name="email" required>
                        <span class="input-group-btn">
                            <input class="btn btn-success" type="submit" value="Pay Now!" />
                        </span>
                    </div>
                </form>
                {% endif %}
            </td>
        </tr>
    {% endif %}
</table>

<p></p>

<p class="text-center">
    <img src="http://www.blueblackjazz.com/media/images/paypal2.jpg" alt="paypal" />
    <img src="http://www.blueblackjazz.com/media/images/paypal1.jpg" alt="visa" />
</p>
<p><small>
    {{ 'cart.redirect'|trans }}
</small></p>

<div class="modal fade" id="shippingModal" tabindex="-1" role="dialog" aria-labelledby="shippingLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Shipping</h4>
            </div>
            <div class="modal-body">
                <p><small>You can also receive the books by post. Prices are per book.
                    Click on one of the link below to set your shipping options:
                </small> </p>
                <ul>
                    <li>
                    <small>
                        <a href="{{ path('cart_set_shipping', {'shipping': 'PDF'}) }}">
                            PDF, delivery by email. FREE
                        </a>
                    </small>
                    </li>
                    <li>
                    <small>
                        <a href="{{ path('cart_set_shipping', {'shipping': 'FRANCE'}) }}">
                            Shipping by postal service to FRANCE.
                            {{ cart.getShippingCostPerBookEuro('FRANCE') | currency_convert_format(cart.favoriteCurrency) }} per book.
                        </a>
                    </small>
                    </li>
                    <li>
                    <small>
                        <a href="{{ path('cart_set_shipping', {'shipping': 'EUROPE'}) }}">
                            Shipping by postal service to EUROPE.
                            {{ cart.getShippingCostPerBookEuro('EUROPE') | currency_convert_format(cart.favoriteCurrency) }} per book.
                        </a>
                    </small>
                    </li>
                    <li>
                    <small>
                        <a href="{{ path('cart_set_shipping', {'shipping': 'WORLD'}) }}">
                            Shipping by postal service to WORLD / USA.
                            {{ cart.getShippingCostPerBookEuro('WORLD') | currency_convert_format(cart.favoriteCurrency) }} per book.
                        </a>
                    </small>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>




