
<hr>

{% for book in thing.books %}
<div class="row" class="listBook">
    <div class="col-md-3">
        <a href="{{ path('book', {'id': book.id, 'slug': book.slug}) }}" class="thumbnail">
            <img src="http://www.blueblackjazz.com/media/images/{{ book.imgCover }}">
        </a>
    </div>
    <div class="col-md-8">
        <h3 id="{{ book.slug }}"><a href="{{ path('book', {'id': book.id, 'slug': book.slug}) }}"> {{ book }}</a> </h3>
        <p>
        {% for transcription in book.transcriptions %}
            {{ transcription.track }} -
            <a href="{{ path('transcription', {'id': transcription.id, 'slug': transcription.slug }) }}">{{ transcription.name }}</a>,
            
        {% endfor %}
        </p>
    </div>
</div>

<hr>


{% endfor %}


<div class="listTranscriptionsRelated">
<table class="table table-condensed table-striped">
    {% for transcription in thing.transcriptions if not transcription.book or transcription.book not in thing.books  %}
    <tr>
        <td><a href="{{ path('transcription', {'id': transcription.id, 'slug': transcription.slug }) }}">{{ transcription.name }}</a>
        {% if transcription.book %}
        <br><small>(in 
            <a href="{{ path('book', {'id': transcription.book.id, 'slug': transcription.book.slug}) }}"> {{ transcription.book }}</a>)</small> 
        {% endif %}
        </td>
        <td>{% if transcription.mp3 %}
                <audio preload="none" width="100" src="http://www.blueblackjazz.com/media/mp3/{{ transcription.mp3 }}">
            {% endif %}
        </td>
        <td>
            <a class="btn btn-sm btn-success" href="{{ path('cart_add_transcription', {'id': transcription.id, 'slug': transcription.slug}) }}"><strong>{{ transcription.priceEuro }}&euro;</strong> Add to Cart</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
