{% extends "::layout.html.twig" %}


{% block body %}

<h2> Order is complete! </h2>

<p>You should receive an email with all your transcriptions
at the email your entered, {{ order.email }}.</p>

<p>If anything seems wrong or if you do not receive the email,
please email me at <a href="mailto:paul.marcorelles@blueblackjazz.com">paul.marcorelles@blueblackjazz.com</a> with the reference:
{{ order.id }}-{{ order.salt }}
</p>

<p>You just purchased the following transcriptions:</p>

<ul>
    {% for transcription in order.transcriptions %}
    <li>
    
        <a
            href="{{ path('link_transcription', {'transcriptionId': transcription.id, 'orderSalt': order.salt}) }}"
            >
            {{ transcription.artist }} -
            {{ transcription }} -
            {{ transcription.translate().date }}
            </a>
    {% endfor %}
</ul>

{% if order.shipping != 'PDF' %}
<p>
The following books will be sent to you by postal services,
at the address you entered on PayPal.
</p>
{% endif %}
<ul>
    {% for book in order.books %}
        {% if order.shipping == 'PDF' %}
        <li>
        <a
            href="{{ path('link_book', {'bookId': book.id, 'orderSalt': order.salt}) }}"
            >
            {{ book }}
            </a>
        </li>
        {% else %}
            {{ book }}
        {% endif %}
    {% endfor %}
</ul>

You need to download the transcriptions with the above link within 48 hours.

Enjoy!
Paul

{% endblock %}

