
Hello,

Your purchase is complete.

{% if order.shipping == 'PDF' or order.transcriptions|length > 0 %}
You can download the following transcriptions :
{% endif %}

{% for transcription in order.transcriptions %}

- {{ transcription.artist }} - {{ transcription }} - {{ transcription.translate().date }}
    {{ url('link_transcription', {'transcriptionId': transcription.id, 'orderSalt': order.salt}) }}
{% endfor %}

{% if order.shipping != 'PDF' %}
The following books will be delivered by postal services, at the address you provided during the payment on PayPal.
{% endif %}

{% for book in order.books %}

- {{ book }}
    {% if order.shipping == 'PDF' %}{{ url('link_book', {'bookId': book.id, 'orderSalt': order.salt}) }}
{% endif %}{% endfor %}


Paul
